.loginBlock {
    display: flex;
    color: white;
    margin-right: 15px;
    margin-top: 5px;
    margin-left: 160px;
    padding: 10px;
    height: 60px;
    width: 100px;
    display: flex;
    /* border: 2px solid rgb(124, 126, 122); */
  }
  
  .loginblock {
    display: flex;
  }

  .loginblock p{
    margin-left: 15px;
  }
  
  .loginBlock img{
    width: 35px;
    height: 35px;
    border-radius: 30px;
    padding: 5px;
  }

  .loginBlock p{
    margin-top: 5px;
  }
  